@{
    ViewBag.Title = "Orderlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<WebApiProject.Models.DonHang>

<div class="container py-5">
</div>

<!-- Order Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Đơn hàng</th>
                        <th scope="col">Ngày đặt</th>
                        <th scope="col">Tổng tiền</th>
                        <th scope="col">Địa chỉ giao</th>
                        <th scope="col">Số điện thoại</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                <p class="mb-0 mt-4">@item.orders_id</p>
                            </th>
                            <td>
                                <p class="mb-0 mt-4">@item.orders_date</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.total_amount</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.shipping_address</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.user_phone</p>
                            </td>
                            <td>
                                <p class="mb-0 mt-4">@item.status</p>
                            </td>
                            <td>
                                <a href="@Url.Action("detail","orders",new { id_order = item.orders_id})"> <p class="mb-0 mt-4"> Xem</p></a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>